.main-container2_1 {
    margin-top: 3em;
}
.mini-container2_1 {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

.title-div2_1 {
    width: 60em;
    margin-top: 1em;
}

.prviRed2_1 {
    background-color: rgb(97, 95, 95);
    text-align: center;
}

.celija{
    text-align: center;
    vertical-align: middle;
}

.gumb2_1 {
    height: 2.5em;
    color: white;
    background-color: purple;
    border-radius: 0.5em;
    width: 13em;

}
.gumb2_2 {
    height: 2.5em;
    color: white;
    background-color: rgb(80, 49, 100);
    border-radius: 0.5em;
    width: 13em;
}
.ev2_1 {
    margin-bottom: 0.5em;
}
.iconButtonDiv2_1 {
    float: left;
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 1em;
}

.button-title-div {
    display: grid;
    grid-template-columns: 5% auto;
}

@media (max-width: 1024px) {
    .button-title-div {
        display: flex;
    }
}
