.main-container {
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 5em;
}
.header2 {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 75% auto;
}

.title-div3 {
    width: 30em;
}

.prviRed2 {
    background-color: rgb(97, 95, 95);
    text-align: center;
}

.celija{
    text-align: center;
    vertical-align: middle;
}