.main-container5_1 {
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}
.header5_1 {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 75% auto;
}

.title-div5_1 {
    width: 30em;
    margin-left: 3em;
    margin-top: 1em;
}

.prviRed5_1 {
    background-color: rgb(97, 95, 95);
    text-align: center;
}

.celija{
    text-align: center;
    vertical-align: middle;
}
.button-container5_1 {
    display: flex;
}
.gumb5_1 {
    margin-right: 0.5em;
}
.gumb5_2 {
    margin-left: 0.5em;
}
.button-container2 {
    width: 10em;
    margin: auto;
}