.main-container7_1 {
    margin-top: 3em;
}
.mini-container7_1 {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}
.circural-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.border-container7_1 {
    margin-top: 1em;
    border: 3px solid #3498db;
    border-radius: 8px;
}
.title-div7_1 {
    margin-left: 3em;
}

.big-div7_1 {
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-areas: 
    "div1 div2";
}
.big-div7_2 {
    margin-top: 2em;
}
.mid-div7_1 {
    margin-top: 2em;
    margin-left: 2em;
    grid-area: div1;
}
.mid-div7_2 {
    border: 2px solid #3498db;
    border-radius: 8px;
    margin-top: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    grid-area: div2;
    margin-left: 1em;
}
.gumb7_1, .gumb7_2, .gumb7_3 {
    height: 2.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.gumb7_1 {
    width: 13em;
}
.gumb7_2 {
    width: 8em;
}
.gumb7_3 {
    width: 11em;
}
.button-div-container7_1 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.button-div7_1 {
    width: 20%;
    margin-right: 5em;
    margin-right: auto;
}
.button-div7_2 {
    width: 15em;
    margin-right: 5em;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.small-button-div7_1 {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 4em;
}
.iconButtonDiv7_1 {
    margin-left: 3em;
}

@media (max-width: 1024px) {
    .big-div7_1 {
      grid-template-columns: 100%;
      grid-template-areas: 
      "div1"
      "div2";
    }
}
@media (max-width: 768px) {

    .button-div-container7_1 {
        display: grid;
        grid-template-columns: 100%;
    }
    .button-div7_2 {
        margin-top: 1em;
    }
    .button-div7_2 {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 1.7em;
        margin-bottom: 2em;
    }
    .gumb7_1 {
        width: 10em;
        height: 3.5em;
    }
}